<%- model_class = Membrecium -%>

<div id="cont">

<%= form_tag membrecia_path, :method => 'get' do %>
<% content_tag :label do %>
Search term:
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Buscar", :name => nil %>
<% end %>
<% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:apellidos) %></th>
      <th><%= model_class.human_attribute_name(:telefono) %></th>
      <th><%= model_class.human_attribute_name(:direccion) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:recibioEspiritu) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:comentarios) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @membrecia.each do |membrecium| %>
      <tr>
        <td><%= link_to membrecium.id, membrecium_path(membrecium) %></td>
        <td><%= membrecium.nombre %></td>
        <td><%= membrecium.apellidos %></td>
        <td><%= membrecium.telefono %></td>
        <td><%= membrecium.direccion %></td>
        <td><%= membrecium.email %></td>
        <td><%= membrecium.recibioEspiritu %></td>
        <td><%= membrecium.fecha %></td>
        <td><%= membrecium.comentarios %></td>
        <td><%=l membrecium.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_membrecium_path(membrecium), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      membrecium_path(membrecium),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_membrecium_path,
            :class => 'btn btn-primary' %>
<%= will_paginate @membrecia, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Membrecia: <%= @membrecia.count %>

