<%= simple_form_for @p_trabajo, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :NombrePlanTrabajo %>
  <%= f.input :fechaPlanTrabajo %>
  <%= f.input :DescripcionPlan %>
  <%= f.input :Aprobada? %>
  <%= f.input :Observacion %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                p_trabajos_path, :class => 'btn' %>
  </div>
<% end %>
