<%- model_class = Servicio -%>
<div class="servicio">
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:empresa) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:dia_de_pago) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @servicios %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_servicio_path, remote: true,
            :class => 'btn btn-primary' %>


<br>

</div>