<%- model_class = Diezmotri -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="cont">
        <%= form_tag diezmotris_path, :method => 'get' do %>
        <% content_tag :label do %>
        Search term:
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Buscar", :name => nil %>
     <% end %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:trimestral) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @diezmotris.each do |diezmotri| %>
      <tr>
        <td><%= link_to diezmotri.id, diezmotri_path(diezmotri) %></td>
        <td><%= diezmotri.valor %></td>
        <td><%= diezmotri.trimestral %></td>
        <td><%=l diezmotri.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_diezmotri_path(diezmotri), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      diezmotri_path(diezmotri),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_diezmotri_path,
            :class => 'btn btn-primary' %>
  <%= will_paginate @diezmotris, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Diezmotris: <%= @diezmotris.count %>
<br>
Valor Recaudado :<%= Diezmotri.sum(:valor) %>