<%= simple_form_for(@ofrendasem, :html => { :class => 'form-horizontal',remote:true } ) do |f| %>
  <%= f.input :valor %>
  <%= f.input :dia %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ofrendasems_path, :class => 'btn' %>
  </div>
<% end %>
