<%- model_class = Diezmoanual -%>
<div class="diezmoanual">
<div class="page-header">
  <h1><%=t '.title', :default => 'Diezmo Anual' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:año) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <%= render @diezmoanuals %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_diezmoanual_path, remote: true,
            :class => 'btn btn-primary' %>


<br>

Valor Recaudado :<%= Diezmoanual.sum(:valor) %>