<%= simple_form_for [@directiva,@modulo], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.collection_select :membrecium_id, Membrecium.all, :id, :nombre, class: "form-control" %>
  <br>
  <br>
  <br>
  <%= f.text_field :cargo %>
 
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                directiva_modulos_path(@directiva), :class => 'btn' %>
  </div>
<% end %>
