<%= simple_form_for [@directiva,@modulo], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.collection_select :membrecium_id, Membrecium.all, :id, :nombre, class: "form-control", prompt: "ingrese el nombre del miembro" %>
  <br>
  <br>
  <br>
  <%= f.input :cargo %>
  <select>
  <option value="Presid">Presidente</option>
  <option value="vicep">Vicepresidente</option>
  <option value="secre">Secretari@</option>
  <option value="tesore">Tesorer@</option>
  <option value="vocal">Vocal</option>
  <option value="auxi">Auxiliar</option>
   </select> 
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                directiva_modulos_path(@directiva), :class => 'btn' %>
  </div>
<% end %>
