<h1><center>Directiva De Alabanza</center></h1>


<div id='menu'>
<ul>
   <li ><%= link_to "Miembros", cancions_path %>

   </li>
   <li ><%= link_to "Eventos", membrecia_path %>
      
   </li>

   <li> <%= link_to "Plan de Trabajo", cancions_path %></a>
      <ul>
         <li> <%= link_to "Buscar", cancions_path %></li>
      </ul>
   </li>

    <li> <%= link_to "observaciones", biblia_path %>
    
   </li>

</div>

<div id="img">
      <img class="usu" src="assets/ipuc.jpg">
</div>

<div id="text">
    <h6> BrYaN y SaLoMoN® </h6>
    <h5> IPUC-Manrique Oriental </h5>
</div>