<%- model_class = PTrabajo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:Nombre_de_Plan_De_trabajo) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:Estado) %></th>
      <th><%= model_class.human_attribute_name(:observacion) %></th>
      <th><%= model_class.human_attribute_name(:directiva_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @p_trabajos.each do |p_trabajo| %>
      <tr>
        <td><%= link_to p_trabajo.id, p_trabajo_path(p_trabajo) %></td>
        <td><%= p_trabajo.nombrep_trabajo %></td>
        <td><%= p_trabajo.fechap_trabajo %></td>
        <td><%= p_trabajo.descriptionp_trabajo %></td>
        <td><%= aprobado(p_trabajo.aprobado) %></td>
        <td><%= p_trabajo.observacion %></td>
        <td><%= p_trabajo.directiva.nombre %></td>
        <td>

        <% if can? :update, @p_trabajo %>
          <%= link_to t('.edit', :default => t("helpers.links.Editar")),
                      edit_directiva_p_trabajo_path(@directiva,p_trabajo), :class => 'btn btn-mini' %>
        <% end -%>

        <% if can? :delete, @p_trabajo %>
          <%= link_to t('.destroy', :default => t("helpers.links.Eliminar")),
                      directiva_p_trabajo_path(@directiva,p_trabajo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmar", :default => 'Esta seguro de Eliminar Plan De Trabajo?')) },
                      :class => 'btn btn-mini btn-danger' %>
        <% end -%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.Nuevo")),
            new_directiva_p_trabajo_path(@directiva),
            :class => 'btn btn-primary' %>

            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                directivas_path(@directiva), :class => 'btn' %>

