
<br>
<h1>Tesoreria</h1>
<br>
<br>
<div id="caja3">
	 <div id='cssmenu'>
<ul>
   <li ><%= link_to "Ofrendas", controller: "pagina", action: "ofrenda" %>
    <ul>
         <li> <%= link_to "Dia", ofrendadia_path %></li>
         <li> <%= link_to "Semanal", ofrendasems_path %></li>
         <li> <%= link_to "Trimestral", ofrendatris_path %></li>
         <li> <%= link_to "Anual", ofrendanuals_path %></li>
       </ul>
   </li>
   
   <li ><%= link_to "Diezmos" %>
       <ul>
	         <li> <%= link_to "Dia", diezmodia_path %></li>
	         <li> <%= link_to "Semanal", diezmosems_path %></li>
	         <li> <%= link_to "Trimestral", diezmotris_path %></li>
	         <li> <%= link_to "Anual", diezmoanuals_path %></li>
       </ul>
   </li>

   <li> <%= link_to "Ingresos"%></a>
      <ul>
         <li> <%= link_to "Eventos", eventos_path %></li>
         <li> <%= link_to "Otros", otrosings_path %></li>
      </ul>
   </li>

  <li> <%= link_to "Egresos" %>
    <ul>
         <li> <%= link_to "Servicios", servicios_path %></li>
    </ul>
   </li>


<p></p>

</ul>

</div>
</div>