<h1>Ofrenda</h1>
<p></p>
<div id="caja3">
	 <div id='cssmenu'>
<ul>
   <li ><%= link_to "Ofrendas", cancions_path %>
    <ul>
         <li> <%= link_to "Dia", cancions_path %></li>
         <li> <%= link_to "Semanal", cancions_path %></li>
         <li> <%= link_to "Trimestral", cancions_path %></li>
         <li> <%= link_to "Anual", cancions_path %></li>
       </ul>
   </li>
   
   <li ><%= link_to "Diezmos", membrecia_path %>
       <ul>
	         <li> <%= link_to "Dia", cancions_path %></li>
	         <li> <%= link_to "Semanal", cancions_path %></li>
	         <li> <%= link_to "Trimestral", cancions_path %></li>
	         <li> <%= link_to "Anual", cancions_path %></li>
       </ul>
   </li>

   <li> <%= link_to "Ingresos", cancions_path %></a>
      <ul>
         <li> <%= link_to "Eventos", cancions_path %></li>
         <li> <%= link_to "Otros", cancions_path %></li>
         
      </ul>
   </li>

    <li> <%= link_to "Egresos", biblia_path %>
    <ul>
         <li> <%= link_to "Servicios", cancions_path %></li>
    </ul>
   </li>
</div>
</div>