
     <br>
     <br>
     <ul>
         <li> </li>
         <li type="button" class="btn btn-info"><%= link_to "Junta local", controller:"modulos", action:"junta" %></li><p>             </p>
         <li type="button" class="btn btn-info"> <%= link_to "Jovenes", controller:"modulos", action:"jovenes" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Alabanza", controller:"modulos", action:"alabanza" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Dm.Dorcas", controller:"modulos", action:"damas" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Esc.Dominical", controller:"modulos", action:"esc_dom" %></li>
         <li type="button" class="btn btn-info"> <%= link_to "Evangelismo", controller:"modulos", action:"evangelismo" %></li>
         <li type="button" class="btn btn-info"> <%= link_to "Renuevos", controller:"modulos", action:"renuevos" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Misiones", controller:"modulos", action:"misiones" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Recepcion", controller:"modulos", action:"recepcion" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Intercepcion", controller:"modulos", action:"intercepcion" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Vigilancia", controller:"modulos", action:"vigilancia" %></li>
         <li type="button" class="btn btn-info"> <%= link_to "Aseo", controller:"modulos", action:"aseo" %></li>
         <li type="button" class="btn btn-info"> <%= link_to "Audivisuales", controller:"modulos", action:"audiovisuales" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Protemplo", controller:"modulos", action:"protemplo" %></li>
         <li type="button" class="btn btn-info"><%= link_to  "Publicidad", controller:"modulos", action:"publicidad" %></li>
     
      </ul>

      <br>
      <br>
