<<tr id=<%="evento_#{evento.id}"%>>
      <tr>
        <td><%= link_to evento.id, evento_path(evento) %></td>
        <td><%= evento.evento %></td>
        <td><%= evento.valor %></td>
        <td><%= evento.dia %></td>
        <td><%=l evento.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evento_path(evento),remote: true,:class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evento_path(evento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

  </td>
  </tr>
