<br>
<%- model_class = Evento -%>
 <div id="buscador">
 <%= form_tag eventos_path, :method => 'get' do %>
        <% content_tag :label do %>
        Search term:
        <%= text_field_tag :search, params[:search] %>
        
        <%= submit_tag "Buscar", :name => nil %>
     <% end %>
<% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:evento) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:hora_inicio) %></th>
      <th><%= model_class.human_attribute_name(:hora_final) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= link_to evento.id, evento_path(evento) %></td>
        <td><%= evento.evento %></td>
        <td><%= evento.descripcion %></td>
        <td><%= evento.fecha %></td>
        <td><%= evento.hora_inicio %></td>
        <td><%= evento.hora_final %></td>
        <td><%=l evento.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      evento_path(evento), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_evento_path(evento), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      evento_path(evento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_evento_path,
            :class => 'btn btn-primary' %>
<%= will_paginate @eventos, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Eventos: <%= @eventos.count %>