<br>
<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Eliminar', event_path(@event), method: :delete, :data => {:confirm => t('.confirm', :default => t("helpers.links.confirmar", :default => "Esta Seguro de Eliminar Evento?"))} %> |
<%= link_to 'Atras', events_path %>
