  <tr id=<%="diezmotri_#{diezmotri.id}"%>>

      <tr>
        <td><%= link_to diezmotri.id, diezmotri_path(diezmotri) %></td>
        <td><%= diezmotri.valor %></td>
        <td><%= diezmotri.trimestre %></td>
        <td><%=l diezmotri.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_diezmotri_path(diezmotri), remote: true, :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      diezmotri_path(diezmotri),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    