<%- model_class = Diezmotri -%>
<div class="diezmotri">
<div class="page-header">
  <h1><%=t '.title', :default => 'Diezmo Trimestral' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:trimestre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <%= render @diezmotris %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_diezmotri_path,
            :class => 'btn btn-primary',  remote: true %>

<br>

Valor Recaudado :<%= Diezmotri.sum(:valor) %>