<%- model_class = Ofrendadium -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Ofrenda dia' %></h1>
</div>
<div id="cont">
        <%= form_tag ofrendadia_path, :method => 'get' do %>
        <% content_tag :label do %>
        Search term:
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Buscar", :name => nil %>
     <% end %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:valor) %></th>
      <th><%= model_class.human_attribute_name(:dia) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
       <%= render @ofrendadia %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ofrendadium_path, remote: true,
            :class => 'btn btn-primary' %>
<%= will_paginate @ofrendadia, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente &raquo;' %>
<br>
Ofrendadia: <%= @ofrendadia.count %>

<%= semanal(@ofrendadia.count) %>
<br>

<%= link_to "Quieres pasar a la ofrenda semanal?",
             totalofrendasemanal_path(:valor => Ofrendadium.sum(:valor))
             %>


<br>

Valor Recaudado :<%= Ofrendadium.sum(:valor) %>