<%= simple_form_for @otrosing, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :actividad %>
  <%= f.input :valor %>
  <%= f.input :dia %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                otrosings_path, :class => 'btn' %>
  </div>
<% end %>
