<%= simple_form_for(@ofrendanual, :html => { :class => 'form-horizontal',remote:true } ) do |f| %>
  <%= f.input :valor %>
  <%= f.input :año %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ofrendanuals_path, :class => 'btn' %>
  </div>
<% end %>
