<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
     </button>
   </div>
   <div class="collapse navbar-collapse">
     
     <ul class="nav navbar-nav menu forma">
       <li class="dropdown-header"></li>
       <%= render 'layouts/navigation_links' %>
     </ul>
     <ul class="nav navbar-nav navbar-right">
     
     <%# devolucion en menu de rol y nombre %>
     <% if current_user %>
        <% if current_user.admin == true  %>
            <li>
              <%= link_to current_user.nombre+ ': Administrador', edit_user_path(current_user.id) %>
            </li>
          <% else %>
            <li>
              <%= link_to current_user.nombre+ ': Usuario', edit_user_path(current_user.id) %>
            </li>
          <% end %>
           
           <li>
             <%= link_to "Salir", :logout, method: :get %>
           </li>
        <% else %>
           <li>
             <%= link_to "Registrarse", new_user_path %>
           </li>
           <li>
             <%= link_to "Entrar", new_user_session_path %>
           </li>
      <% end %>
     </ul>
     

   </div>
 </div>
</nav>