<%# add navigation links to this file %>
    <div id='cssmenu'>
<ul>
   <li ><%= link_to "Directivas", cancions_path %>
        <ul>
         <li> <%= link_to "Junta local", cancions_path %></li>
         <li> <%= link_to "Jovenes", cancions_path %></li>
         <li><%= link_to  "Alabanza", cancions_path %></li>
         <li><%= link_to  "Dm.Dorcas", cancions_path %></li>
         <li><%= link_to  "Esc.Diminical", cancions_path %></li>
         <li><%= link_to  "Cafeteria", cancions_path %></li>



      </ul>
   </li>
   <li ><%= link_to "Membrecia", membrecia_path %></li>
   <li> <%= link_to "canciones", cancions_path %></a>
      <ul>
         <li> <%= link_to "canciones", cancions_path %></li>
         <li> <%= link_to "canciones", cancions_path %></li>
      </ul>
   </li>
    <li> <%= link_to "Biblia", cancions_path %></li>
    <li ><%= link_to "Tesoreria", cancions_path %></li>
    <li ><%= link_to "Configuracion", cancions_path %></li>
     <li ><%= link_to "Ayuda", cancions_path %></li>
</ul>
</div>