<%# add navigation links to this file %>
    <div id='cssmenu'>
<ul>
<<<<<<< HEAD
   <li ><%= link_to "Directivas", directivas_path %>
=======
   <li ><%= link_to "Directivas", cancions_path %>
>>>>>>> 15fc79b0c5c9243469dc975f9f28598b023ddf16
        <ul>
         <li> <%= link_to "Junta local", cancions_path %></li>
         <li> <%= link_to "Jovenes", cancions_path %></li>
         <li><%= link_to  "Alabanza", cancions_path %></li>
         <li><%= link_to  "Dm.Dorcas", cancions_path %></li>
         <li><%= link_to  "Esc.Diminical", cancions_path %></li>
         <li><%= link_to  "Cafeteria", cancions_path %></li>
<<<<<<< HEAD
         <li> <%= link_to "Evangelismo", cancions_path %></li>
         <li> <%= link_to "Renuevos", cancions_path %></li>
         <li><%= link_to  "Misiones", cancions_path %></li>
         <li><%= link_to  "Recepcion", cancions_path %></li>
         <li><%= link_to  "Intercepcion", cancions_path %></li>
         <li><%= link_to  "Vigilancia", cancions_path %></li>
         <li> <%= link_to "Aseo", cancions_path %></li>
         <li> <%= link_to "Audivisuales", cancions_path %></li>
         <li><%= link_to  "Protemplo", cancions_path %></li>
         <li><%= link_to  "Publicidad", cancions_path %></li>
         <li><%= link_to  "Esc.Diminical", cancions_path %></li>
     
      </ul>
   </li>
   <li ><%= link_to "Membrecia", membrecia_path %>
       <ul>
         <li> <%= link_to "Consultar", cancions_path %></li>
         <li> <%= link_to "Añadir", cancions_path %></li>
         <li> <%= link_to "Eliminar", cancions_path %></li>
         <li> <%= link_to "Editar", cancions_path %></li>

       </ul>
   </li>

   <li> <%= link_to "canciones", cancions_path %></a>
      <ul>
         <li> <%= link_to "Buscar", cancions_path %></li>
         <li> <%= link_to "Añadir", cancions_path %></li>
         <li> <%= link_to "Editar", cancions_path %></li>
         <li> <%= link_to "Eliminar", cancions_path %></li>
      </ul>
   </li>
    <li> <%= link_to "Biblia", cancions_path %>
    <ul>
         <li> <%= link_to "Buscar", cancions_path %></li>
    </ul>
   </li>

    <li ><%= link_to "Tesoreria", cancions_path %>
     <ul>
         <li> <%= link_to "Ofrendas", cancions_path %></li>
         <li> <%= link_to "Diezmos", cancions_path %></li>
         <li> <%= link_to "Ingresos", cancions_path %></li>
         <li> <%= link_to "Egresos", cancions_path %></li>
    </ul>
   </li>
=======



      </ul>
   </li>
   <li ><%= link_to "Membrecia", membrecia_path %></li>
   <li> <%= link_to "canciones", cancions_path %></a>
      <ul>
         <li> <%= link_to "canciones", cancions_path %></li>
         <li> <%= link_to "canciones", cancions_path %></li>
      </ul>
   </li>
    <li> <%= link_to "Biblia", cancions_path %></li>
    <li ><%= link_to "Tesoreria", cancions_path %></li>
>>>>>>> 15fc79b0c5c9243469dc975f9f28598b023ddf16
    <li ><%= link_to "Configuracion", cancions_path %></li>
     <li ><%= link_to "Ayuda", cancions_path %></li>
</ul>
</div>