<%# add navigation links to this file %>
    <div id='cssmenu'>
<ul>
   <li ><%= link_to "Directivas", cancions_path %>

        <ul>
         <li> <%= link_to "Junta local", controller:"modulos", action:"junta" %></li>
         <li> <%= link_to "Jovenes", controller:"modulos", action:"jovenes" %></li>
         <li><%= link_to  "Alabanza", controller:"modulos", action:"alabanza" %></li>
         <li><%= link_to  "Dm.Dorcas", controller:"modulos", action:"damas" %></li>
         <li><%= link_to  "Esc.Dominical", controller:"modulos", action:"esc_dom" %></li>
         <li> <%= link_to "Evangelismo", controller:"modulos", action:"evangelismo" %></li>
         <li> <%= link_to "Renuevos", controller:"modulos", action:"renuevos" %></li>
         <li><%= link_to  "Misiones", controller:"modulos", action:"misiones" %></li>
         <li><%= link_to  "Recepcion", controller:"modulos", action:"recepcion" %></li>
         <li><%= link_to  "Intercepcion", controller:"modulos", action:"intercepcion" %></li>
         <li><%= link_to  "Vigilancia", controller:"modulos", action:"vigilancia" %></li>
         <li> <%= link_to "Aseo", controller:"modulos", action:"aseo" %></li>
         <li> <%= link_to "Audivisuales", controller:"modulos", action:"audiovisuales" %></li>
         <li><%= link_to  "Protemplo", controller:"modulos", action:"protemplo" %></li>
         <li><%= link_to  "Publicidad", controller:"modulos", action:"publicidad" %></li>
     
      </ul>
   </li>
   <li ><%= link_to "Membrecia", membrecia_path %>
      
   </li>

   <li> <%= link_to "Canciones", cancions_path %></a>
      <ul>
         <li> <%= link_to "Buscar", cancions_path %></li>
      </ul>
   </li>

    <li> <%= link_to "Biblia", biblia_path %>
    
   </li>

    <li ><%= link_to "Tesoreria" %>
     <ul>
         <li> <%= link_to "Ofrendas", controller: "pagina", action: "ofrenda" %></li>
         <li> <%= link_to "Diezmos", controller: "paginadi", action: "diezmo" %></li>
         <li> <%= link_to "Ingresos", controller: "paginain", action: "ingresos" %></li>
         <li> <%= link_to "Egresos", controller: "paginaeg", action: "egresos"%></li>
    </ul>
   </li>

    <li ><%= link_to "Configuracion", cancions_path %></li>
     <li ><%= link_to "Ayuda", cancions_path %></li>
</ul>

</div>

<div id="img">
      <img class="usu" src="assets/ipuc.jpg">
</div>

<div id="text">
    <h6> BrYaN y SaLoMoN® </h6>
    <h5> IPUC-Manrique Oriental </h5>
</div>